{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Products</h1>

    <form method="GET">

        <input type="text" name="search" placeholder="Search products..." value="{{ search }}">

        <button type="submit">
            Search
        </button>

    </form>

</div>

<br>

{% if products %}

{% for product in products %}

<div class="card">

    <h2>{{ product.name }}</h2>

    <p>{{ product.description }}</p>

    <h3>${{ "%.2f"|format(product.price) }}</h3>

</div>

<br>

{% endfor %}

{% else %}

<div class="card">

    <h2>No products found.</h2>

</div>

{% endif %}

{% endblock %}